<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madjava.micro.baseservice.mapper.BasesiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.madjava.micro.model.baseservice.Basesite">
        <id column="id" property="id" />
    <result column="create_time" property="createTime" />
        <result column="site_code" property="siteCode" />
        <result column="is_active" property="isActive" />
        <result column="default_language" property="defaultLanguage" />
        <result column="default_currency" property="defaultCurrency" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        id, site_code, is_active, default_language, default_currency, modify_time
    </sql>

</mapper>
